<%- include('header'); -%>
<h1>welcome to libMan</h1>
<p>libMan is a simple library management system</p>
<p>It is built using Node.js, Express, and MongoDB</p>
<a href="/user/login">user login</a>
<a href="/admin/login">admin login</a>

<%- include('footer'); -%>